<nav>
  <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/getting-around">Getting Around</a></li>
        <li><a href="/html-basics">HTML Basics</a></li>
        <li><a href="/css-basics">CSS Basics</a></li>
        <li><a href="/layouting">Layouting</a></li>
        <li><a href="/accessibility">Accessibility</a></li>
        <li><a href="/responsiveness">Resposniveness</a></li>
        <li><a href="/11ty">Eleventy</a></li>
        <br>
        <li><a href="/credits">Credits</a></li>
        <li><a href="https://layercake.moe/">Creator</a></li>
    </ul>
</nav>