<nav>
  <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/getting-around">Getting Around</a></li>
        <li><a class="disabled" href="/">HTML Basics</a></li>
        <li><a class="disabled" href="/">CSS Basics</a></li>
        <li><a class="disabled" href="/">Layouting</a></li>
        <li><a class="disabled" href="/">Accessibility</a></li>
        <li><a class="disabled" href="/">Resposniveness</a></li>
        <li><a href="/ssi">SSI</a></li>
        <li><a href="/eleventy">Eleventy</a></li>
        <li><a href="/deployment">Deployment</a></li>
        <br>
        <li><a href="/credits">Credits</a></li>
        <li><a href="https://layercake.moe/">Creator</a></li>
    </ul>
</nav>