*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* Main */
:root {
    --almostwhite: #FFF2CC;
    --cream: #FFF2CC;
    --orange: #FFC09B;
    --peach: #FFBBBA;
    --lightgreen: #FFE1B6;
    --peachier: #FFBBBA;
    --orangish: #FFC09B;
    --creamish: #FFECD6;
    --pink: #FC949F;
    --link: #EA8988;
    --purple: #FC949F;
    --palegreen: #bbd8bb;
    --gray: #d5d5d5;
    --lightbrown: #825044;
    --darkbrown: #634c53;
    --cookie: #875f6b;
    --dough: #FFD0BC;
    --light-red: #b95c5c;
    --crazy-green: #95e995;
    --gradientorange: linear-gradient(#fff2df, #fadabe);

    --header-height: 80px;
    --navaside: 220px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125rem;
  font-family: "Huninn", sans-serif;
  margin:0;
  height: 100%;
  background-color: #fff9e6;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6,
.fakeh1, .fakeh2, .fakeh3 {
  overflow-wrap: break-word;
}


h1 { font-size: 2.8rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1rem; }


h2 {
  margin-top: 10px;
  border-bottom: 2px dashed var(--orange);
  padding-bottom: 5px;
  margin-bottom: 5px !important;
  font-style: italic;
  width:100%;
}

p {
  text-wrap: pretty;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}


h1, h2, h3, h4, h5, h6,
.fakeh1, .fakeh2, .fakeh3 {
  text-wrap: balance;
  font-family: "Fredoka", sans-serif /* add own title font */;
  font-weight: 600;
  text-shadow: none;
}
#root, #__next {
  isolation: isolate;
}


.tippy-box[data-theme~='nwd'] {
  background-color: var(--light-red);
  color: var(--foreground);
  text-align: center;
  font-size: inherit;
  border-radius: 0;
  padding: 2px;
  max-width: 300px;
  filter: drop-shadow(0px -1px 0 var(--foreground)) drop-shadow(1px 0px 0 var(--foreground))
  drop-shadow(0px 1px 0 var(--foreground)) drop-shadow(-1px 0px 0 var(--foreground))   
  drop-shadow(3px 3px 0 var(--button-hover-dark));
  position:relative;
}

.tippy-box[data-theme~='nwd'] > .tippy-arrow {
  color: var(--light-red);
}

.container {
  width: 100%; 
  margin:0 auto;
}

header {
  gap: 4px;
  background: url(/assets/checkerboard.png), linear-gradient(to bottom, var(--cookie), var(--darkbrown));
  image-rendering: crisp-edges;
  background-size: 10px 10px, auto;
  border-bottom: var(--dough) 3px ridge;
  padding: 4px 8px;
  color: var(--almostwhite);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  z-index: 15;
  position: sticky;
  top: 0;
}

header button {
  background:none;
  border:0;
  color:inherit;
  display: none;
}

/* 
  background: linear-gradient( to bottom, #845d69 0 45%, #664d55 55% 100%);
  background-blend-mode: lighten;
  box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.3), 
  inset 0px 0px 2px rgba(255, 255, 255, 0.8);
*/
.kuro {
  width: 55px;
  height: auto;
  fill: inherit;
}

.logo { display: flex; gap: 10px}

header .lucide {
  width: 40px;
  height: auto;
}

.mainfl { display: flex;}

nav {
  min-width:var(--navaside);  
  z-index: 10;
  background: var(--creamish);
  height: calc(100dvh - var(--header-height));
  overflow-y:auto;
}

#togglenav {
  min-width:var(--navaside);  
  position: sticky;
  top: var(--header-height);
  filter: drop-shadow(1px 1px 2px var(--darkbrown));
}

.show { display: block;}

nav::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 100%;
  background-image: url(/assets/zigzag.png);
  top: 0;
  right: 0;
  transform: translateX(100%);
}


nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding: 4px;
}

nav li {
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

nav li a {
    width: 90%;
    height: 100%;
    padding: 10px;
    padding-top: 6px;
    display: block;
    text-decoration: none;
    background: linear-gradient(180deg, var(--cream), var(--peach));
    text-align: center;
    box-shadow: -1.5px -1.5px 1px inset var(--lightbrown), 0px 0px 0px 2px var(--orange);
    text-shadow: 0px -1px #fff;
    border-radius: 3px;
    border-top-left-radius: 10px 20px;
    border-bottom-left-radius: 10px 20px;
    color: var(--cookie);
    border-top-right-radius: 10px 20px;
    border-bottom-right-radius: 10px 20px;
    border: 2px solid var(--peach);
    outline: 1px solid var(--almostwhite);
    margin: 0 auto;
    margin-top: 12px !important;
}

nav li a:first-of-type { margin-top:0;}

nav li a:hover {
    background: linear-gradient(180deg, var(--orange), var(--peach));
    box-shadow: -1.5px -1.5px 1px inset white, 1.5px 1.5px 1px inset var(--lightbrown), 0px 0px 0px 2px var(--orange);
}

nav li a:active {
    background: var(--orange);
    box-shadow: -1.5px -1.5px 1px inset white, 1.5px 1.5px 1px inset var(--lightbrown), 0px 0px 0px 2px var(--orange);
}


main {
  width: 100%;
  min-width: calc(100% - var(--navaside));
  background-color:  #fff9e6;
  padding: 10px;
  color: var(--darkbrown);
  height: calc(100dvh - var(--header-height));
  overflow-y:auto;
}
pre {
  display: block;
  width: 100%;
  white-space: pre-wrap;
}
.main-pad-toggle, .main-pad { padding: 10px 10px 10px 30px; }

.mobileafternav { display: none;}

.lastupd {
    color: var(--cookie)
}

/* makes standalone code blocks stand out more but doesnt effect those inside the code chunks */
code:not(pre code) {
  background: var(--creamish);
  padding: 0 4px;
  border-radius: 8px;
}

@media only screen and (max-width: 920px) {
#togglenav { display:none}
#togglenav.show { display: block;}

  header button {
    display: block;
  }

  h1 {
    font-size:2rem;
  }

  .kuro { width: 40px;
  min-width: 40px }
  header .lucide {
    width: 25px;
    min-width: 25px; }


  .main-pad { padding:10px;}
}

a {
    color: var(--link);
    font-weight: bold;
}

pre {
  padding: 5px;
  border-radius: 8px;
  background: #ffecd6;
  color: inherit;
}

@media only screen and (max-width: 500px) {
#togglenav { position: static;}
.show { display: block;}

  :root {
    --header-height: 90px;
  }
    header button {
    display: block;
  }
  .mainfl {
    flex-direction: column;
  }

  nav {
    height:fit-content;
    position: relative;
    top:0;
    overflow: hidden;
  }

  nav::after {
    display:none;
}

.mobileafternav {
  display: block; /* makes height/width take effect */
  position: relative;
  width: 100%;
  height: 25px;
  background-image: url(/assets/bottomzigzag.png);
  bottom: 0;
z-index: 1000;
}
}